@page "/"
@inject NavigationManager NavigationManager
@inject IFhirStoreManager StoreManager
@inject ServerConfiguration ServerConfig
@inject IJSRuntime JS


@implements IDisposable

<MudAlert Severity="Severity.Warning">
    This is an open FHIR endpoint for development, testing, and educational purposes only.
    Uploading real patient data is strictly prohibited.
</MudAlert>

<MudPaper Class="pa-4 ma-2" Square="true">
    <MudText Typo="Typo.h6">FHIR Endpoints</MudText>
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        @foreach (KeyValuePair<string, IFhirStore> kvp in @StoreManager.OrderBy(kvp => kvp.Key))
        {
            <MudTabPanel Text="@kvp.Key">
                @switch (kvp.Value.Config.FhirVersion)
                {
                    case TenantConfiguration.SupportedFhirVersions.R4:
                        <MudText Typo="Typo.body1">
                            FHIR @kvp.Value.Config.FhirVersion endpoint at <code>@kvp.Value.Config.BaseUrl</code>
                            <sup>
                                <button onclick="@($"navigator.clipboard.writeText('{kvp.Value.Config.BaseUrl}')")">
                                    <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy FHIR URL" />
                                </button>
                            </sup>
                        </MudText>
                        <br />
                        <MudText Typo="Typo.body1">
                            This endpoint uses FHIR <MudLink Href="https://hl7.org/fhir/R4" Target="_" Underline="Underline.Always">R4</MudLink>
                            and Subscriptions via the
                            <MudLink Href="https://www.hl7.org/fhir/uv/subscriptions-backport/index.html" Target="_" Underline="Underline.Always">Subscriptions Backport IG</MudLink>
                        </MudText>
                        break;

                    case TenantConfiguration.SupportedFhirVersions.R4B:
                        <MudText Typo="Typo.body1">
                            FHIR @kvp.Value.Config.FhirVersion endpoint at <code>@kvp.Value.Config.BaseUrl</code>
                            <sup>
                                <button onclick="@($"navigator.clipboard.writeText('{kvp.Value.Config.BaseUrl}')")">
                                    <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy FHIR URL" />
                                </button>
                            </sup>
                        </MudText>
                        <br />
                        <MudText Typo="Typo.body1">
                            This endpoint uses FHIR <MudLink Href="https://hl7.org/fhir/R4B" Target="_" Underline="Underline.Always">R4B</MudLink>
                            and Subscriptions via the
                            <MudLink Href="https://www.hl7.org/fhir/uv/subscriptions-backport/index.html" Target="_" Underline="Underline.Always">Subscriptions Backport IG</MudLink>
                        </MudText>
                        break;

                    case TenantConfiguration.SupportedFhirVersions.R5:
                        <MudText Typo="Typo.body1">
                            FHIR @kvp.Value.Config.FhirVersion endpoint at <code>@kvp.Value.Config.BaseUrl</code>
                            <sup>
                                <button onclick="@($"navigator.clipboard.writeText('{kvp.Value.Config.BaseUrl}')")">
                                    <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy FHIR URL" />
                                </button>
                            </sup>
                        </MudText>
                        <br />
                        <MudText Typo="Typo.body1">
                            This endpoint uses FHIR <MudLink Href="https://hl7.org/fhir/R5" Target="_" Underline="Underline.Always">R5</MudLink>
                            and Subscriptions via the
                            <MudLink Href="http://hl7.org/fhir/R5/subscriptions.html" Target="_" Underline="Underline.Always">Subscriptions Framework</MudLink>
                        </MudText>
                        break;
                }

                <MudList>
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                        <MudLink Href="@($"/store?store={kvp.Key}")"
                                 Underline="Underline.Always">FHIR Contents</MudLink>: FHIR resources in this tenant
                    </MudListItem>

                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                        <MudLink Href="@($"/store/ext/subscriptions-local?store={kvp.Key}")"
                                 Underline="Underline.Always">Local Subscriptions</MudLink>: outgoing Subscription notifications from this server
                    </MudListItem>

                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                        <MudLink Href="@($"/store/ext/subscriptions-received?store={kvp.Key}")"
                                 Underline="Underline.Always">Received Notifications</MudLink>: incoming notifications received by this server
                    </MudListItem>
                </MudList>

                @if (Mode == ServerConfiguration.UiModes.SubscriptionsRI)
                {
                    <MudText Typo="Typo.body1">
                        The endpoint contains some immutable records for testing:
                    </MudText>

                    <MudList>
                        <MudListItem Typo="Typo.body1">
                            <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                            <MudLink Href="@($"/store/resource-viewer?store={kvp.Key}&type=Patient&id=example")"
                                     Underline="Underline.Always">Patient/example</MudLink>:
                            An example patient, loaded from the FHIR examples.
                        </MudListItem>

                        @switch (kvp.Value.Config.FhirVersion)
                        {
                            case TenantConfiguration.SupportedFhirVersions.R4:
                                <MudListItem>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                                    <MudLink Href="@($"/store/resource-viewer?store={kvp.Key}&type=Basic&id=encounter-complete")"
                                             Underline="Underline.Always">Basic/encounter-complete</MudLink>:
                                    An example topic as a <code>Basic</code> resource, using cross-version extensions (equivalent
                                    to the R4B and R5 <code>encounter-complete</code> topics).
                                    The topic triggers when an encounter is either created with a <code>status</code> of <code>finished</code>
                                    or updated from any other status to <code>finished</code>.
                                </MudListItem>
                                break;

                            case TenantConfiguration.SupportedFhirVersions.R4B:
                                <MudListItem>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                                    <MudLink Href="@($"/store/resource-viewer?store={kvp.Key}&type=SubscriptionTopic&id=encounter-complete")"
                                             Underline="Underline.Always">Basic/encounter-complete</MudLink>:
                                    An example <code>SubscriptionTopic</code>.
                                    The topic triggers when an encounter is either created with a <code>status</code> of <code>finished</code>
                                    or updated from any other status to <code>finished</code>.
                                </MudListItem>
                                break;

                            case TenantConfiguration.SupportedFhirVersions.R5:
                                <MudListItem>
                                    <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
                                    <MudLink Href="@($"/store/resource-viewer?store={kvp.Key}&type=SubscriptionTopic&id=encounter-complete")"
                                             Underline="Underline.Always">Basic/encounter-complete</MudLink>:
                                    An example <code>SubscriptionTopic</code>.
                                    The topic triggers when an encounter is either created with a <code>status</code> of <code>complete</code>
                                    or updated from any other status to <code>complete</code>.
                                </MudListItem>
                                break;
                        }
                    </MudList>
                    <br />
                    <MudText Typo="Typo.body1">
                        If you are getting started with topic-based subscriptions, there is a deatiled tour available
                        <MudLink Href="@($"/store/ext/subscriptions-tour?store={kvp.Key}")" Underline="Underline.Always">here</MudLink>.
                    </MudText>
                    <br />
                }


                <MudText Typo="Typo.body1">
                    The endpoint also exposes a system-level operation, <code>$subscription-hook</code>
                    <sup>
                        <button onclick="@($"navigator.clipboard.writeText('{kvp.Value.Config.BaseUrl}/$subscription-hook')")">
                            <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy URL" />
                        </button>
                    </sup>

                    which can be used as a notification endpoint for FHIR @kvp.Value.Config.FhirVersion notifications (e.g.,
                    if you are developing a server that sends notifications, you can point it here).
                    Any received notification bundles are stored as resources locally, and the notifications will appear on
                    the
                    <MudLink Href="@($"/store/ext/subscriptions-received?store={kvp.Key}")"
                             Underline="Underline.Always">Received Notifications</MudLink>
                    page.
                </MudText>
                <br />
                <MudText Typo="Typo.body1">
                    Note that the server will NOT send notifications to addresses rooted in <code>example.org</code>.
                    For example, a REST-Hook pointing at <code>http://example.org/endpoints/test</code> will trigger
                    the notifications and be visible on the
                    <MudLink Href="@($"/store/ext/subscriptions-local?store={kvp.Key}")"
                             Underline="Underline.Always">Local Subscriptions</MudLink>
                    page, but not actually attempt to send the notification to the endpoint.
                </MudText>

            </MudTabPanel>
        }

    </MudTabs>
</MudPaper>
<MudPaper Class="pa-16 ma-2" Square="true">
    <MudText Typo="Typo.h6">Useful Links</MudText>
    <MudSimpleTable>
        <thead>
            <tr>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GitHub Repository for this software</td>
                <td><MudLink Href="https://github.com/GinoCanessa/fhir-candle" Target="_" Underline="Underline.Always">github.com</MudLink></td>
            </tr>
            <tr>
                <td>FHIR R5 Subscriptions Framework</td>
                <td><MudLink Href="https://hl7.org/fhir/R5/subscriptions.html" Target="_" Underline="Underline.Always">hl7.org</MudLink></td>
            </tr>
            <tr>
                <td>FHIR R4/R4B Subscriptions Backport IG</td>
                <td><MudLink Href="https://www.hl7.org/fhir/uv/subscriptions-backport/index.html" Target="_" Underline="Underline.Always">hl7.org</MudLink></td>
            </tr>
            <tr>
                <td>FHIR R4B Specification</td>
                <td><MudLink Href="https://hl7.org/fhir/R4B/" Target="_" Underline="Underline.Always">hl7.org</MudLink></td>
            </tr>
            <tr>
                <td>FHIR R4 Specification</td>
                <td><MudLink Href="https://hl7.org/fhir/R4/" Target="_" Underline="Underline.Always">hl7.org</MudLink></td>
            </tr>
        </tbody>
    </MudSimpleTable>
</MudPaper>

@code {
    /// <summary>Gets or sets the navigation tracker.</summary>
    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    public static ServerConfiguration.UiModes Mode { get; set; } = ServerConfiguration.UiModes.Default;

    /// <summary>Executes the initialized asynchronous action.</summary>
    /// <returns>An asynchronous result.</returns>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        NavTracker?.NotifyNav("Subscriptions RI", "", 0);
    }

    /// <summary>
    /// Performs application-defined tasks associated with freeing, releasing, or resetting unmanaged
    /// resources.
    /// </summary>
    public void Dispose()
    {
    }
}
