@page "/subscriptions/tour"

@inject NavigationManager NavigationManager
@inject IFhirStoreManager StoreManager
@inject ISmartAuthManager AuthManager
@inject IJSRuntime JS

@implements IDisposable
@implements IPackagePage

<PageTitle>Subscriptions Tour</PageTitle>

<MudPaper Class="pa-4 ma-2" Square="true">
    <MudText Typo="Typo.h6">Subscriptions Tour</MudText>
    <MudText Typo="Typo.body1">
        This page contains a tour of topic-based subscriptions in FHIR @_store.Config.FhirVersion .
    </MudText>
    <br />
    <MudTimeline TimelineOrientation="TimelineOrientation.Vertical" TimelinePosition="TimelinePosition.Start">
        <MudTimelineItem Color="@ColorForStep(1)">
            <ItemContent>
                <MudCard id="element-step-1">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(1)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(1)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Choose a topic</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>

                    <MudCardContent>
                        @switch (_store.Config.FhirVersion)
                        {
                            case TenantConfiguration.SupportedFhirVersions.R4:
                                <FhirCandle.Ui.R4.Subscriptions.TourStep01
                                    Store="@_store"
                                    StoreName="@StoreName"
                                    />
                                break;

                            case TenantConfiguration.SupportedFhirVersions.R4B:
                                <FhirCandle.Ui.R4B.Subscriptions.TourStep01
                                    Store="@_store"
                                    StoreName="@StoreName"
                                    />
                                break;

                            case TenantConfiguration.SupportedFhirVersions.R5:
                                <FhirCandle.Ui.R5.Subscriptions.TourStep01
                                    Store="@_store"
                                    StoreName="@StoreName"
                                    />
                                break;
                        }
                    </MudCardContent>

                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => MoveToStep(2))">Select encounter-complete topic</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="@ColorForStep(2)">
            <ItemContent>
                <MudCard id="element-step-2">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(2)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(2)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Configure a subscription</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            In this step, we are configuration the subscription options.
                        </MudText>

                        <br />
                        <MudDivider />
                        <MudText Typo="Typo.body1">
                            The following options are fixed for this walkthrough and are displayed only for reference:
                        </MudText>

                        <MudSelect Label="Channel Type" HelperText="Walkthrough is restricted to REST-Hook" @bind-Value="subscription.ChannelCode" ReadOnly="true">
                            <MudSelectItem Value="@("email")">Email</MudSelectItem>
                            <MudSelectItem Value="@("message")">FHIR Message</MudSelectItem>
                            <MudSelectItem Value="@("rest-hook")">REST Hook (http/s POST)</MudSelectItem>
                            <MudSelectItem Value="@("websocket")">Websocket</MudSelectItem>
                            <MudSelectItem Value="@("zulip")">Zulip</MudSelectItem>
                        </MudSelect>
                        <MudTextField @bind-Value="subscription.Endpoint" Label="Endpoint" ReadOnly="true" />
                        <MudTextField @bind-Value="subscription.HeartbeatSeconds" Label="Heartbeat frequency (seconds)" ReadOnly="true" />
                        <MudField Label="End (expiration)">@(DateTime.Now.ToString("O")) (in 10 minutes)</MudField>

                        <br />
                        <MudDivider />
                        <MudText Typo="Typo.body1">
                            The following options are selected in this walkthrough:
                        </MudText>
                        <MudSelect Label="Content Type" HelperText="MIME Type to use for notifications" @bind-Value="subscription.ContentType">
                            <MudSelectItem Value="@("application/fhir+json")">FHIR JSON</MudSelectItem>
                            <MudSelectItem Value="@("application/fhir+xml")">FHIR XML</MudSelectItem>
                        </MudSelect>
                        <MudSelect Label="Content Level" HelperText="Amount of data to include in notifications" @bind-Value="subscription.ContentLevel">
                            <MudSelectItem Value="@("empty")">Empty</MudSelectItem>
                            <MudSelectItem Value="@("id-only")">IDs Only</MudSelectItem>
                            <MudSelectItem Value="@("full-resource")">Full Resources</MudSelectItem>
                        </MudSelect>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => MoveToStep(3))">Use these settings</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="@ColorForStep(3)">
            <ItemContent>
                <MudCard id="element-step-3">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(3)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(3)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Select filter data</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            The final piece of configuration for a subscription are filter values.
                            In this tour, we will be using <code>Patient/example</code> as a 
                            patient filter for our topic.  Note that allowed filters are defined
                            by each topic.
                        </MudText>
                        <MudField Label="Subscription Filter">Patient/example</MudField>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => MoveToStep(4))">Use this filter</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="@ColorForStep(4)">
            <ItemContent>
                <MudCard id="element-step-4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(4)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(4)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Request subscription</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            With our configuration complete, we are ready to create our
                            resource and request it on the server.
                        </MudText>
                        @if (!string.IsNullOrEmpty(subscriptionLocation))
                        {
                            <br />
                            <MudText Typo="Typo.body1">
                                Now that our subscription is created, is can be viewed
                                <MudLink Href="@($"/store/resource-viewer?store={StoreName}&type=Subscription&id={subscription.Id}")"
                                         Underline="Underline.Always">here</MudLink>,
                                or requested (in FHIR) at
                                <code>@subscriptionLocation</code>
                                <sup>
                                    <button onclick="@($"navigator.clipboard.writeText('{subscriptionLocation}')")">
                                        <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy FHIR URL" />
                                    </button>
                                </sup>.
                            </MudText>
                        }

                        @if ((errorAtStep == 4) && (!string.IsNullOrEmpty(errorMessage)))
                        {
                            <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
                        }
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => PostSubscription())">POST Subscription request</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="@ColorForStep(5)">
            <ItemOpposite>
                <MudText Typo="Typo.h6">Check handshake</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudCard id="element-step-5">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(5)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(5)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Server performs handshake</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @if (string.IsNullOrEmpty(handshakeBundleId))
                        {
                            <MudText Typo="Typo.body1">Waiting for handshake.</MudText>
                        }
                        else
                        {
                            <br />
                            <MudText Typo="Typo.body1">
                                Handshake received! The notification bundle can be viewed
                                <MudLink Href="@($"/store/resource-viewer?store={StoreName}&type=Bundle&id={handshakeBundleId}")"
                                         Underline="Underline.Always">here</MudLink>,
                                or requested (in FHIR) at
                                <code>@_store.Config.BaseUrl/Bundle/@handshakeBundleId</code>
                                <sup>
                                    <button onclick="@($"navigator.clipboard.writeText('{_store.Config.BaseUrl}/Bundle/{handshakeBundleId}')")">
                                        <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy FHIR URL" />
                                    </button>
                                </sup>.
                            </MudText>
                        }
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="@ColorForStep(6)">
            <ItemContent>
                <MudCard id="element-step-6">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(6)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(6)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Trigger a notification</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            The topic we are using is set to trigger when an <code>Encounter</code> is set to the
                            status of <code>@encounterStatus</code>.  This can be true either when the encounter
                            resource is create, or it could be updated from another state.
                        </MudText>
                        <br />
                        <MudText Typo="Typo.body1">
                            Since we specified the filter that encounters need to have a <code>patient</code>
                            that matches <code>Patient/example</code>, we need to also set the <code>subject</code>
                            reference to that patient.
                        </MudText>
                        <br />
                        <MudText Typo="Typo.body1">
                            For simplicity during this walkthrough, we will create an encounter with all the 
                            values needed to trigger a notification.
                        </MudText>

                        @if (postedEncounters.Any() &&
                             (postedEncounters.Last() is string encounterId) &&
                             (!string.IsNullOrEmpty(encounterId)))
                        {
                            <br />
                            <MudText Typo="Typo.body1">
                                Encounter posted! The resource can be viewed
                                <MudLink Href="@($"/store/resource-viewer?store={StoreName}&type=Encounter&id={encounterId}")"
                                         Underline="Underline.Always">here</MudLink>,
                                or requested (in FHIR) at
                                <code>@_store.Config.BaseUrl/Encounter/@encounterId</code>
                                <sup>
                                    <button onclick="@($"navigator.clipboard.writeText('{_store.Config.BaseUrl}/Encounter/{encounterId}')")">
                                        <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" aria-label="Copy FHIR URL" />
                                    </button>
                                </sup>.
                            </MudText>
                        }

                        @if ((errorAtStep == 6) && (!string.IsNullOrEmpty(errorMessage)))
                        {
                            <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
                        }
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => PostEncounter())">POST Encounter</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="@ColorForStep(7)">
            <ItemContent>
                <MudCard id="element-step-7">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(7)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(7)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Review notifications</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @if (!postedEncounters.Any())
                        {
                            <MudText Typo="Typo.body1">Waiting for notifications...</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.body1">
                                This subscription has triggered @postedEncounters.Count notifications.
                            </MudText>
                            <br />
                            <MudText Typo="Typo.body1">
                                Details about sent notifications for this subscription can be found
                                <MudLink Href="@($"/subscriptions/notification-local-viewer?store={StoreName}&id={subscription.Id}")"
                                         Underline="Underline.Always">here</MudLink>.
                            </MudText>
                            <br />
                            <MudText Typo="Typo.body1">
                                Details about received notifications for this subscription can be found
                                <MudLink Href="@($"/subscriptions/notification-received-viewer?store={StoreName}&ref={subscriptionLocation}")"
                                         Underline="Underline.Always">here</MudLink>.
                            </MudText>
                        }
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => MoveToStep(8))">Ok</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
@*        <MudTimelineItem Color="@ColorForStep(8)">
            <ItemContent>
                <MudCard id="element-step-8">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(8)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(8)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">RESTful Requests</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">Query for status/events.</MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>*@
        <MudTimelineItem Color="@ColorForStep(8)">
            <ItemContent>
                <MudCard id="element-step-8">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="@ColorForStep(8)" Variant="Variant.Outlined">
                                <MudIcon Icon="@IconForStep(8)" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Clean up</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">
                            That completes this tour.  If you have any questions, comments, or suggestions
                            for this software, please let us know.  A link to the GitHub repository for this
                            project can be found on the top right corner of the screen.
                        </MudText>
                        <br />
                        <MudText Typo="Typo.body1">
                            Please click the button below to remove the resources created during this session.
                            Thank you!
                        </MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Outlined" OnClick="@(() => CleanUp())">Done</MudButton>
                    </MudCardActions>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>
</MudPaper>

@code {
    /// <summary>Gets or sets the navigation tracker.</summary>
    [CascadingParameter]
    public INavTracker? NavTracker { get; set; } = null;

    /// <summary>Gets or sets the package name.</summary>
    [Parameter]
    [SupplyParameterFromQuery(Name = "store")]
    public string StoreName { get; set; } = "";

    /// <summary>The store.</summary>
    private IFhirStore _store = null!;

    private Timer _recheckTimer = null!;

    /// <summary>Gets or sets the on step.</summary>
    private int onStep { get; set; } = 1;

    /// <summary>Gets or sets the error at step.</summary>
    private int errorAtStep { get; set; } = -1;

    /// <summary>Message describing the error.</summary>
    private string errorMessage = string.Empty;

    /// <summary>The subscription location.</summary>
    private string subscriptionLocation = string.Empty;

    /// <summary>Identifier for the handshake bundle.</summary>
    private string handshakeBundleId = string.Empty;

    /// <summary>The subscription.</summary>
    ParsedSubscription subscription = new()
    {
        Id = Guid.NewGuid().ToString(),
        TopicUrl = "http://example.org/FHIR/SubscriptionTopic/encounter-complete",
        CurrentStatus = "requested",
        Reason = "Test subscription for walkthrough",
        ChannelCode = "rest-hook",
        ChannelSystem = "http://terminology.hl7.org/CodeSystem/subscription-channel-type",
        Endpoint = string.Empty,
        HeartbeatSeconds = 120,
        ContentType = "application/fhir+json",
        ContentLevel = "id-only",
        Filters = new()
        {
            { "Encounter", new List<ParsedSubscription.SubscriptionFilter>()
                {
                    new ParsedSubscription.SubscriptionFilter("Encounter", "patient", string.Empty, string.Empty, "Patient/example"),
                }
            },
        }
    };

    /// <summary>The encounter status.</summary>
    private string encounterStatus = "completed";

    /// <summary>True to posting resource.</summary>
    private bool postingResource = false;

    /// <summary>The posted encounters.</summary>
    List<string> postedEncounters = new();

    /// <summary>Gets the content for package.</summary>
    public static string ContentFor { get => "subscriptions"; }

    /// <summary>Gets the name of the page.</summary>
    public static string PageName { get => "Subscriptions RI Tour"; }

    /// <summary>Gets the description.</summary>
    public static string Description { get => "This page contains a tour of topic-based subscriptions."; }

    /// <summary>Gets the full pathname of the route file.</summary>
    public static string RoutePath { get => "/subscriptions/tour"; }

    /// <summary>Color for step.</summary>
    /// <param name="step">Amount to increment by.</param>
    /// <returns>A MudBlazor.Color.</returns>
    private MudBlazor.Color ColorForStep(int step)
    {
        if (step == errorAtStep)
        {
            return Color.Error;
        }

        if (step < onStep)
        {
            return Color.Success;
        }

        if (step == onStep)
        {
            return Color.Primary;
        }

        return Color.Default;
    }

    /// <summary>Icon for step.</summary>
    /// <param name="step">Amount to increment by.</param>
    /// <returns>A string.</returns>
    private string IconForStep(int step)
    {
        if (step == errorAtStep)
        {
            return Icons.Material.Filled.Error;
        }

        if (step < onStep)
        {
            return Icons.Material.Filled.Check;
        }

        if (step == onStep)
        {
            return Icons.Material.Filled.Edit;
        }

        return Icons.Material.Filled.LockClock;
    }

    /// <summary>Move to step.</summary>
    /// <param name="toStep">to step.</param>
    private void MoveToStep(int toStep)
    {
        errorAtStep = -1;
        errorMessage = string.Empty;
        onStep = toStep;

        if (toStep < 9)
        {
            _ = JS.InvokeVoidAsync("scrollElementIntoView", "element-step-" + toStep);
        }

        InvokeAsync(() => StateHasChanged());
    }

    /// <summary>Posts the subscription.</summary>
    private void PostSubscription()
    {
        if ((postingResource) || (!string.IsNullOrEmpty(subscriptionLocation)))
        {
            return;
        }

        postingResource = true;

        if (!_store.TrySerializeToSubscription(subscription, out string serialized, false))
        {
            errorAtStep = 4;
            errorMessage = "Failed to serialize request content.";
            postingResource = false;
            return;
        }

        bool success = _store.TryInstanceCreate(
            serialized,
            "application/fhir+json",
            true,
            out string rt,
            out string id);

        if (success)
        {
            postingResource = false;
            subscriptionLocation = _store.Config.BaseUrl + "/" + rt + "/" + id;
            MoveToStep(5);
            return;
        }

        errorAtStep = 4;
        errorMessage = "Failed to create subscription!";
        postingResource = false;
        return;
    }

    /// <summary>Posts the encounter.</summary>
    private void PostEncounter()
    {
        if (postingResource)
        {
            return;
        }

        postingResource = true;

        bool success = _store.TryInstanceCreate(
            getJsonEncounter(),
            "application/fhir+json",
            true,
            out string rt,
            out string id);

        if (success)
        {
            postingResource = false;
            postedEncounters.Add(id);

            MoveToStep(7);
            return;
        }

        errorAtStep = 6;
        errorMessage = "Failed to create Encounter!";
        postingResource = false;
        return;

        string getJsonEncounter() => _store.Config.FhirVersion switch
        {
            TenantConfiguration.SupportedFhirVersions.R4 => FhirCandle.Ui.R4.Subscriptions.TourUtils.EncounterJson,
            TenantConfiguration.SupportedFhirVersions.R4B => FhirCandle.Ui.R4B.Subscriptions.TourUtils.EncounterJson,
            TenantConfiguration.SupportedFhirVersions.R5 => FhirCandle.Ui.R5.Subscriptions.TourUtils.EncounterJson,
            _ => string.Empty,
        };
    }

    /// <summary>Clean up.</summary>
    private void CleanUp()
    {
        if (!string.IsNullOrEmpty(subscriptionLocation))
        {
            _ = _store.TryInstanceDelete("Subscription", subscription.Id);
            subscriptionLocation = string.Empty;
        }

        if (!string.IsNullOrEmpty(handshakeBundleId))
        {
            _ = _store.TryInstanceDelete("Bundle", handshakeBundleId);

            handshakeBundleId = string.Empty;
        }

        foreach (string encId in postedEncounters)
        {
            _ = _store.TryInstanceDelete("Encounter", encId);
        }

        postedEncounters.Clear();

        MoveToStep(1);
    }

    /// <summary>Executes the initialized asynchronous action.</summary>
    /// <returns>An asynchronous result.</returns>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        if ((!string.IsNullOrEmpty(StoreName)) &&
            (StoreManager.TryGetValue(StoreName, out _store!)))
        {
            _store.OnChanged += Store_OnChanged;
            _store.OnSubscriptionSendEvent += Store_OnSubscriptionSendEvent;
            _store.OnSubscriptionsChanged += Store_OnSubscriptionsChanged;

            subscription.Endpoint = _store.Config.BaseUrl + "/$subscription-hook";

            encounterStatus = _store.Config.FhirVersion >= TenantConfiguration.SupportedFhirVersions.R5
                ? "completed"
                : "finished";
        }

        // notify of store root in case user clicked here directly
        NavTracker?.NotifyNav(StoreName, "/store?store=" + StoreName, 1);
        NavTracker?.NotifyNav($"Subscriptions Tour", "/subscriptions/tour?store=" + StoreName, 2);
    }

    /// <summary>Handles the location changed.</summary>
    /// <param name="sender">The sender.</param>
    /// <param name="e">     Location changed event information.</param>
    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (e.Location.ToLowerInvariant().Contains("/subscriptions/tour", StringComparison.Ordinal))
        {
            if (_store != null)
            {
                _store.OnChanged -= Store_OnChanged;
                _store.OnSubscriptionSendEvent -= Store_OnSubscriptionSendEvent;
                _store.OnSubscriptionsChanged -= Store_OnSubscriptionsChanged;
            }

            if ((!string.IsNullOrEmpty(StoreName)) &&
                (StoreManager.TryGetValue(StoreName, out _store!)))
            {
                _store.OnChanged += Store_OnChanged;
                _store.OnSubscriptionSendEvent += Store_OnSubscriptionSendEvent;
                _store.OnSubscriptionsChanged += Store_OnSubscriptionsChanged;

                subscription.Endpoint = _store.Config.BaseUrl + "/$subscription-hook";
            }

            // notify of store root in case user clicked here directly
            NavTracker?.NotifyNav(StoreName, "/store?store=" + StoreName, 1);
            NavTracker?.NotifyNav($"Subscriptions Tour", "/subscriptions/tour?store=" + StoreName, 2);
        }
    }

    /// <summary>Event handler. Called by Store when a subscription changes.</summary>
    /// <param name="sender">The sender.</param>
    /// <param name="e">     Subscription event information.</param>
    private void Store_OnSubscriptionsChanged(object? sender, SubscriptionChangedEventArgs e)
    {
        if (e.ChangedSubscription?.Id.Equals(subscription.Id, StringComparison.Ordinal) ?? false)
        {
            if (string.IsNullOrEmpty(subscriptionLocation))
            {
                _recheckTimer = new Timer(
                    RecheckSubscriptionChanged,
                    e,
                    TimeSpan.Zero,
                    TimeSpan.FromSeconds(1));

                return;
            }

            if (e.ChangedSubscription.CurrentStatus == "active")
            {
                if ((_store.ReceivedNotifications.TryGetValue(subscriptionLocation, out List<ParsedSubscriptionStatus>? notifications)) &&
                    (notifications != null))
                {
                    ParsedSubscriptionStatus? handshake = notifications.Where(n => n.NotificationType == ParsedSubscription.NotificationTypeCodes.Handshake)?.First() ?? null;

                    if (handshake != null)
                    {
                        handshakeBundleId = handshake.BundleId;
                    }
                }

                MoveToStep(6);
            }

            return;
        }

        if ((!string.IsNullOrEmpty(e.RemovedSubscriptionId)) &&
            (e.RemovedSubscriptionId.Equals(subscription.Id, StringComparison.Ordinal)))
        {
            MoveToStep(10);
        }
    }

    private void RecheckSubscriptionChanged(object? state)
    {
        if (string.IsNullOrEmpty(subscriptionLocation))
        {
            return;
        }

        _recheckTimer?.Change(Timeout.Infinite, 0);
        _recheckTimer?.Dispose();

        Store_OnSubscriptionsChanged(this, (SubscriptionChangedEventArgs)state!);
    }

    /// <summary>Event handler. Called by Store for on subscription events.</summary>
    /// <param name="sender">The sender.</param>
    /// <param name="e">     Subscription event information.</param>
    private void Store_OnSubscriptionSendEvent(object? sender, SubscriptionSendEventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }

    /// <summary>FHIR store on changed.</summary>
    /// <param name="sender">The sender.</param>
    /// <param name="e">     Event information.</param>
    private void Store_OnChanged(object? sender, EventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }

    /// <summary>
    /// Performs application-defined tasks associated with freeing, releasing, or resetting unmanaged
    /// resources.
    /// </summary>
    public void Dispose()
    {
        _recheckTimer?.Change(Timeout.Infinite, 0);
        _recheckTimer?.Dispose();

        if (_store != null)
        {
            _store.OnChanged -= Store_OnChanged;
            _store.OnSubscriptionSendEvent -= Store_OnSubscriptionSendEvent;
            _store.OnSubscriptionsChanged -= Store_OnSubscriptionsChanged;
        }
    }
}